<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
    <h2>@ngrx/store Party Planner</h2>
</div>

<button (click)="resetParty()" class="margin-bottom-10">
    Reset Party
</button>

<div class="margin-bottom-10">
    Percent Attendance: {{percentAttendance | async}}%
</div>

<!-- <app-party-stats
    [invited]="(people | async)?.length"
    [attending]="(attending | async)?.length"
    [guests]="(guests | async)">
    {{ guests | async | json }}
</app-party-stats> -->
<app-party-stats
    [invited]="(model | async)?.total"
    [attending]="(model | async)?.attending"
    [guests]="(model | async)?.guests">
    {{ guests | async | json }}
</app-party-stats>

<app-filter-select
    (updateFilter)="updateFilter($event)">
</app-filter-select>

<app-personinput
  (addPerson)="addPerson($event)">
</app-personinput>

<!-- <app-personlist
    [people]="people | async"
    [filter]="filter | async"
    (addGuest)="addGuest($event)"
    (removeGuest)="removeGuest($event)"
    (removePerson)="removePerson($event)"
    (toggleAttending)="toggleAttending($event)">
</app-personlist> -->
<app-personlist
    [people]="(model | async)?.people"
    (addGuest)="addGuest($event)"
    (removeGuest)="removeGuest($event)"
    (removePerson)="removePerson($event)"
    (toggleAttending)="toggleAttending($event)">
</app-personlist>

 <!-- before async implementation -->
<!-- <app-personlist
    [people]="people"
    (addGuest)="addGuest($event)"
    (removeGuest)="removeGuest($event)"
    (removePerson)="removePerson($event)"
    (toggleAttending)="toggleAttending($event)">
</app-personlist> -->
